@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Questrial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  background-color: #666;
}
h1 {
  color: white;
}

.screen {
  cursor: pointer;
  width: 50%;
  background-color: #000 important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.controls {
  background-color: #333;
  color: white;
  width: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  padding: 10px;
}
.controls .btn {
  border: 0;
  background: transparent;
  cursor: pointer;
}
.controls .fa-play {
  color: #28a745;
}
.controls .fa-stop {
  color: #dc3545;
}
.controls .fa-pause {
  color: #fff;
}

.btn:focus {
  outline: 0;
}

@media (max-width: 800px) {
  .screen {
    width: 90%;
  }
  .controls {
    width: 90%;
  }
  input {
    width: 20%;
  }
}
